*{
    margin: 0;
    padding: 0;
    align-items: center;

}

.container-fluid{
    background-color: yellow;
    height: 100%;
    width: 100%;
    align-items: center;
}
ul{
    list-style: none;
}
ul li{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0.5rem;
}
ul li p {
    margin: 0;
    flex:1;
}
ul li i{
    cursor: pointer;
    transition: transform 0.2s ease;
}
ul li i:hover{
    transform: scale(1.2);
}

.task-text{
    margin: 0;
    display: inline-block;
}
.edit-input{
    padding: 5px;
    font-size: 1rem;
    width: 60%;
}
.saveBtn{
    margin-left: 8px;
    background-color: limegreen;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.2s ease;
}
.saveBtn:hover{
    transform: scale(1.1);
}
.complete{
    text-decoration: line-through;
    color: gray;
    opacity: 0.8;
}
.content{
    height: 50vh;
    overflow-y: auto;
}
.content::-webkit-scrollbar-track{
    width: 8px;
}